<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Anasayfa</title>
        <link href="/static/css/style.css" rel="stylesheet">
   </head>
   <body>
   <div class="div1">
         <div class="login-img"> <img src="/static/images/login.png"></div>
         <a href="login" class="gradient-button gradient-button-1">YÖNETİCİ GİRİŞ</a><br >
         <a href="kullanici" class="gradient-button gradient-button-2">KULLANICI GİRİŞ</a><br />
   </div>
   </body>
</html>